.search-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.search-results-list {
  position: fixed;
  margin-top: 28px;
  /* background-color: black; */
  max-height: 0px;
  -webkit-padding-start: 0px;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  display: flex;
  flex-direction: column;
}

.search-enter-done {
  max-height: 500px;
  /* background-color: black; */
}
.search-exiting {
  /* height: 0px; */
}

.search-card {
  width: 314px;
  display: inline-flex;
  background-color: black;
  border: 1px solid purple;
}
.search-card-img {
  height: 45px;
  width: 80px;
}
.search-card-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
}
.search-card-info > a {
  font-size: 1em;
}
