.header_container {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
}

.tv_header {
  height: 76px;
  color: black;
  background-color: white;
  display: flex;
}

.tv_header > h3 {
  color: purple;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.tv_header_search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tv_header_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.tv_header_buttons * {
  margin-left: 5px;
  margin-right: 5px;
}

.tv_header > a {
  outline: none;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  line-height: 1.5;
  color: purple;
  border: thin solid purple;
}

.tv_header > a:link,
.tv_header > a:visited,
.tv_header > a:focus {
  background: white;
}

.tv_header > a:hover {
  background: purple;
  color: white;
}
