.tv_header {
  top: 0;
  right: 0;
  left: 0;
  height: 76px;
  position: fixed;
  color: black;
  background-color: white;
  z-index: 99;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tv_header_brand {
  margin: 0 auto;
  color: purple;
}
